body {
    font-family: Arial, sans-serif; /*Esse atributo altera a fonte principal do texto no site */
    margin: 0; /*Define uma margem entre um elemento e outro*/
    padding: 20px; /*Define um espaçamento entre a borda do elemento e o elemento*/
    background-color: #f0f0f0; /*Define a cor de fundo do body*/
    box-sizing: border-box; /*É usado para que seja utilizado todos os pixels do elemento sem adicionar mais pixels*/
  }
  
  .container {
    width: 90%; /*Define a largura do container, aonde estão todo o conteúdo do site*/
    margin: 0 auto; /*Define uma margem entre um elemento e outro, e centraliza o container*/
    background-color: #ffff; /*Define a cor de fundo do container*/
    padding: 20px; /*Define um espaçamento entre a borda do elemento e o elemento*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*Define a sombra que fica na borda do container*/
    border-radius: 8px; /*Arredonda as extremidades do container*/
  }
  
  .box {
    padding: 20px; /*Define um espaçamento entre a borda do elemento e o elemento*/
    margin: 20px 0; /*Define uma margem entre um elemento e outro*/
    border: 1px solid #ddd; /*Define a largura, tipo e cor da borda das box*/
    border-radius: 8px; /*Arredonda as extremidades do container*/
    background-color: #fafafa; /*Define a cor de funda das box*/
  }
  ul,
  ol {
    padding-left: 20px; /*Define um espaçamento a esquerda entre a borda da lista e a lista*/
  }
  
  .vertical-list {
    list-style-type: none; /*Remove os tipos da lista*/
    padding-left: 0; /*Define um espaçamento a esquerda entre a borda da classe e a classe*/
  }
  
  .vertical-list li {
    display: flex; /*Define o display como flex, deixando os seus filhos flexiveis*/
    align-items: center; /*Alinha os itens no centro, no eixo y*/
    margin-bottom: 10px; /*Define a margem de baixo entre um elemento e outro*/
  }
  
  .vertical-list li i {
    margin-right: 10px; /*Define uma margem a direita entre um elemento e outro*/
  }
  
  .horizontal-list {
    list-style-type: none; /*Remove os tipos da lista*/
    padding-left: 0; /*Define um espaçamento a esquerda entre a borda da classe e a classe*/
    display: flex; /*Define o display como flex, deixando os seus filhos flexiveis*/
    gap: 20px; /*Define um vão entre os elementos*/
  }
  
  .horizontal-list li {
    display: flex; /*Define o display como flex, deixando os seus filhos flexiveis*/
    align-items: center; /*Alinha os itens no centro, no eixo y*/
  }
  
  .horizontal-list li i {
    margin-right: 10px; /*Define uma margem a direita entre um elemento e outro*/
  }

