body{
    font-family: Arial, sans-serif ; /*Define uma fonte para o texto do body*/
    margin: 0 ; /*define a distância entre elementos*/
    padding: 0; /*define a margem entre elemento e a borda*/
    background-color: #f0f0f0; /*define a cor de fundo do body*/
    box-sizing: border-box; /*usado para incluir borda na quantidade de pixels*/

}

.container{
    width: 90%; /*define a largura do container*/
    margin: 0 auto; /*usado para centralizar o container*/
    background-color: #fff; /*deefiniu a cor do container*/
    padding: 20px; /*margem entre elemento e borda*/
    border-radius: 8px; /*usado para arredondar as extrenidades do container*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*usado para sombrear as bordas do container*/
}

.box{
    border: 1px solid #ddd; /*definiu uma borda para a classe card*/
    border-radius: 8px; /*arredondou as extremidades dos elementos com plasse card*/
    padding: 10px; /*definiu o espaçamento entre elemento e borda*/
    margin: 10px 0; /*definiu espaçamento entre elementos*/
    background-color: #fafafa; /*definiua a cor de fundo do card*/

}
.box table{
    width: 100%; /*Definiu uma width de 10%*/
    margin-bottom: 20px; /*Definiu uma margin bottom para a tabela*/
    border-collapse: collapse; /*Uniu a borda das tabelas*/
}
.box td, th{
    border: 1px solid #ddd; /*Definiu uam borda*/
    padding: 8px; /*Definiu padding para os elementos da tabela*/
    text-align: left; /*alinhou os textos da tabela*/
}
.box thead{
    background-color: #f2f2f2; /*Definiu cor de fundo para o cabeçalho da tabela */
}

.box table{
    margin: 0 auto; /*Alinhou a tabela ao centro */ 
}
.box caption{
    font-weight: bold; /*Colocou a fonte em negrito*/
    caption-side: top; /*Definiu a orientação do caption side*/
    margin-bottom: 10px; /*Definiu uam margin bottom para o caption*/
}

