body{
    font-family: Arial, sans-serif ; /*Define uma fonte para o texto do body*/
    margin: 0 ; /*define a distância entre elementos*/
    padding: 0; /*define a margem entre elemento e a borda*/
    background-color: #f0f0f0; /*define a cor de fundo do body*/
    box-sizing: border-box; /*usado para incluir borda na quantidade de pixels*/

}

.container{
    width: 90%; /*define a largura do container*/
    margin: 0 auto; /*usado para centralizar o container*/
    background-color: #fff; /*deefiniu a cor do container*/
    padding: 20px; /*margem entre elemento e borda*/
    border-radius: 8px; /*usado para arredondar as extrenidades do container*/
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /*usado para sombrear as bordas do container*/
}

.box{
    border: 1px solid #ddd; /*definiu uma borda para a classe card*/
    border-radius: 8px; /*arredondou as extremidades dos elementos com plasse card*/
    padding: 10px; /*definiu o espaçamento entre elemento e borda*/
    margin: 10px 0; /*definiu espaçamento entre elementos*/
    background-color: #fafafa; /*definiua a cor de fundo do card*/

}

.box summary{
    margin-bottom: 10px; /*Definiu uma margem bottom para o sumário*/
    background-color: #ddd; /*Definiu uma cor de fundo para o sumário*/
    padding: 7px; /*Definiu um padding para o sumário*/
}
.box p, summary, blockquote{
    margin-left: 10px; /*Definiu margem á esquerda para os parágrafos, sumário e para o blockquote*/
}
.box li{
    display: inline; /*Definiu o display da lista como inline*/
}
.box a{
    text-decoration: none; /*Retirou decorações do elemento a*/
}
.box:last-child a{
    text-decoration: underline; /*Colocou decoração abaixo apenas do último a*/
}
.box img{
    display: block; /*Definiu o display como block*/
    margin-bottom: 5px; /*Definiu uam margin bottom para as imagens*/
}

.container h1,h2, h3, h4{
    margin-left: 10px; /*definiu margem a esquerda para todos os títulos*/
}

code{
    background-color: #f9f9f9; /*define a cor de fundo da classe code*/
    padding: 2px 4px; /*deiniu espaçamento entre elemento e borda*/
    border-radius: 3px; /*arredondou as bordas da classe code*/
}

blockquote{
    border-left: 4px solid #ddd; /*definiu a borda esquerda da classe*/
    margin: 10px 0; /*definiu espaçamento entre elementos ao lado*/
    padding-left: 10px; /*definiu o espaçemto a esquerda entre o elemento e a borda*/
    color: #666; /*definiu a cor de texto*/
    font-style: italic; /*estilizou a fonte para itálico*/
}
